/* General Styles */

html, body {
  height: 100%,
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Scheme */

:root {
  --dark: #393e46;
  --normal: #256D85;
  --medium: #47B5FF;
  --light: #DFF6FF;
  --white: #fff;
  --danger: #c50d0d;
}

/* Typography */

h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

p {
  line-height: 1.5;
  font-size: 1.1rem;
  opacity: 0.8;
  letter-spacing: 3px;
}

/* Layout Styles */

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.inner-container {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
}

/* Site Sections */

.dark-section {
  background-color: var(--dark);
  color: var(--white);
}

.light-section {
  background-color: var(--white);
  color: var(--dark);
}

.dark-section,
.light-section {
  padding: 4rem 0;
}

/* Image General Styling */

img {
  width: 100%;
  display: block;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  position: absolute;
}

.edit-preview-img {
  width: 15%;
}

/* General Button Styles */
a, button {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover, 
button:hover {
  cursor: pointer;
}

/* Form Error Message Styles */

.error {
  padding: 1rem;
  color: var(--white);
  background-color: var(--danger);
}

/* Navigation Styles */

nav {
  position: fixed;
  width: 100%;
  padding: 0 !important;
  opacity: 0.8;
  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  opacity: 0;
  animation: textShow 1s forwards;
}

nav ul li {
  animation-delay: 0.5s;
}

nav ul li:nth-child(2n) {
  animation-delay: 0.75s;
}

nav ul li:nth-child(3n) {
  animation-delay: 1s;
}

nav ul li:nth-child(4n) {
  animation-delay: 1.25s;
}

nav ul li:nth-child(5n) {
  animation-delay: 1.5s;
}

nav ul li a, button.btn-logout {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul li a:hover, .btn-logout:hover, a.active {
  color: var(--white);
  background-color: var(--dark);
}

/* Header Styles */

header {
  height: 100vh;
  /* for parallax background effect*/
  position: relative;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/code_2.jpg'); */
  min-height: 100%;
}

/* Profile Card Styles */
.intro-card {
  display: flex;
  justify-content: space-between;
}

.profile-border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.profile-border:hover {
  border: 1px solid #fff;
}

.profile-card {
  height: 379px;
  width: 300px;
  min-width: 300px;
  /* background: #808080; */
  border-radius: 10px;
  margin-right: 20px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card1 {
  background: url("images/b&w-01.jpeg")
    center center no-repeat;
  background-size: 300px;
}

.profile-card1:hover {
  background: url("images/b&w-01.jpeg")
    right center no-repeat;
  background-size: 650px;
}

.profile-card1:hover p {
  opacity: 1;
}

.profile-card1:hover .fab {
  opacity: 1;
}

.profile-card p {
  color: #fff;
  margin: 20px 10px;
  opacity: 0;
  transition: opacity 1s;
}

.profile-card .fab {
  opacity: 0;
  transition: opacity 1s;
}

.profile-icons {
  position: absolute;
  fill: var(--white);
  color: var(--white);
  height: 130px;
  top: 226px;
  right: 0;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 1s;
}

.profile-card:hover .profile-icons {
  opacity: 1;
}

.profile-icons a {
  color: #fff;
  transition: color .3s;
}

.profile-icons a:hover {
  color: #5c5c5c;
}

/* About Me Styles */

/* Work Styles */

#work .row {
  flex-wrap: wrap;
  justify-content: space-between;
}

#work .col {
  flex: auto;
  max-width: 33%;
  opacity: 0;
  transform: scale(0);
  transition: 0.7s;
}

#work .animate {
  opacity: 0.7;
  transform: scale(1);
}

#work .col:hover {
  opacity: 1;
  transform: scale(1.02);
}

#work .col a {
  width: 100%;
}

#work img {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#work figcaption {
  text-align: center;
  font-weight: 700;
}

#work span {
  padding: 0 1rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: middle;
  transition: 1s opacity;
}

#work .col:hover span {
  opacity: 1;
}

/* Skills Styles */

#my-skills {
  text-align: center;
}

#my-skills .other-skills {
  margin-top: 3rem;
}

#my-skills .other-skills ul {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
  
/* Contact Styles */

#contact h2 {
  margin-bottom: 1rem;
}

#contact p {
  margin-bottom: 0.3rem;
}

#contact svg {
  margin-right: 1rem;
}

#contact .form-heading {
  margin: 3rem 0 1rem;
}

input,
textarea,
button {
  display: block;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem;
  border: 3px solid #393e46;
}

input:focus,
textarea:focus {
  background-color: var(--dark);
  color: var(--white);
  border-bottom: 3px solid var(--white);
  outline: none;
}

input[type=file] {
  display: none;
}

div.file-input {
  display: block;
  font-weight: bold;
  color: var(--dark);
  background-color: var(--white);
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem;
  border: 3px solid var(--dark);
}

div.file-input label {
  cursor: pointer;
  color: var(--dark);
}

div.file-input span {
  color: var(--normal);
}

button {
  display: inline-block;
  width: auto;
  border: 3px solid var(--dark);
  border-radius: 5px;
  background-color: transparent;
  transition: 0.5s;
}

button:hover,
button:focus {
  background-color: var(--dark);
  color: var(--white);
}

/* Dashboard Styles */

#dashboard aside {
  border-right: 1px solid var(--white);
  margin-right: 2rem;
}

#dashboard aside button {
  margin: 0 0 0.5rem 0;
}

/* Message Styles */

.message span {
  font-weight: 700;
  color: var(--white);
}

/* Logout Styles */

button.btn-logout {
  margin: 0;
  border: 0;
  font-size: inherit;
  background-color: inherit;
  font-weight: 700;
}

/* Footer Styles */

footer {
  padding: 2rem !important;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}

footer ul li {
  margin: 0 1rem;
  opacity: 0.6;
}
  
footer ul li:hover {
  opacity: 1;
}

footer p {
  font-size: 0.7rem;
  text-align: center;
}

/* CODEHOLIC Styles */

.card {
  padding: 1.25rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
  color: var(--dark);
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.notification {
  color: var(--light);
  background-color: var(--normal);
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  border-radius: 6px;
}
  
/* Button Styles */
.btn,
.btn-add,
.btn-edit,
.btn-delete,
.btn-dashboard {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #5b08a7;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete,
.btn-dashboard {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}

.btn-add {
    background-color: #00a762;
    border: 1px solid #00a762;
}
.btn-add:hover {
  color: #00a762;
  background-color: #fff;
  border: 1px solid #00a762;
}

.btn-edit,
.btn-dashboard {
  background-color: var(--dark);
  border: 1px solid var(--white);
}
.btn-edit:hover,
.btn-dashboard:hover {
color: var(--dark);
background-color: var(--white);
border: 1px solid var(--dark);
}

button.active {
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--white);
}

.btn-delete {
    background-color: var(--danger);
    border: 1px solid var(--danger);
}
.btn-delete:hover {
  color: var(--danger);
  background-color: var(--white);
  border: 1px solid var(--danger);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

/* @media Styles*/

@media only screen and (max-width: 1200px) {
  .inner-container {
    width: 85%;
  }
}

/* medium screens  */
@media only screen and (max-width: 992px) {
  .inner-container {
    width: 90%;
  }
}

/* small screens */
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  #work .row {
    flex-direction: column;
    margin: 0 auto;
  }

  #work .col {
    min-width: 70%;
    margin: 0 auto;
  }

  #work a {
    width: 100%;
  }
}

/* extra small screens  */
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  nav ul li {
    flex: 1 1;
  }

  nav ul li a {
    padding: 0.3rem 0.7rem;
  }

  .intro-card {
    flex-direction: column;
  }

  .intro-card .profile-card {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .intro-card p {
    text-align: center;
  }

  #dashboard .row {
    flex-direction: column;
  }

  #dashboard aside h2 {
    margin-bottom: 1rem;
  }

  #dashboard aside ul {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
  }

  #dashboard .messages td:nth-child(2),
  #dashboard .messages th:nth-child(2)
  {
    display: none;
  }
 
}

/* mobile screens */
@media only screen and (max-width: 450px) {
  #my-skills .row {
    display: flex;
    flex-wrap: wrap;
  }

  #my-skills .row .col {
    flex-basis: 33%;;
  }
}

/* animation for nav links */
@keyframes textShow {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}